---
import Heads from "../../../layouts/heads.astro";
import Main from "../../../layouts/main.astro";
import Page from "../../../layouts/page.astro";
import MatchDetail from "@/views/match/[id]/client";

export const prerender = false;

const { id = "" } = Astro.params;
---

<Page>
  <Heads
    title="Partido | Liga de Tenis GT"
    description="Consulta los detalles del partido, jugadores y estado dentro de la Liga de Tenis GT."
    noIndex
  />

    <Main
      showNav={false}
      topbar={{
        goBack: true,
        shareButton: true,
      }}
    >
      <MatchDetail client:load matchId={id} />
    </Main>

</Page>
