---
import Heads from "../../layouts/heads.astro";
import Page from "../../layouts/page.astro";
import Login from "@/views/auth/client/components/login";

---

<Page>
  <Heads
    title="Login | Liga de Tenis GT"
    description="Inicia sesión para administrar tus partidos y resultados en la Liga de Tenis GT."
    noIndex
  />

  <body>
    <main>
      <Login client:load />
    </main>
  </body>
</Page>

