---
import Heads from "../../../layouts/heads.astro";
import Main from "../../../layouts/main.astro";
import Page from "../../../layouts/page.astro";
import NewMatch from "@/views/match/new/client";
---

<Page>
  <Heads
    title="Nuevo partido | Liga de Tenis GT"
    description="Crea un nuevo partido en la Liga de Tenis GT y define formato, ubicación y horario."
    noIndex
  />

  <body>
    <Main
      showFooter
      showNav={false}
      topbar={{
        title: "Nuevo partido",
        goBack: true,
      }}
    >
      <NewMatch client:load />
    </Main>
  </body>
</Page>
