---
import Heads from "../layouts/heads.astro";
import Main from "../layouts/main.astro";
import Page from "../layouts/page.astro";
import Home from "./components/home";

export const prerender = false;
---

<Page>
  <Heads>
    <title>Home | Liga de Tenis GT</title>
  </Heads>

  <body>
    <Main showNav>
      <Home client:load />
    </Main>
  </body>
</Page>
