---
import Heads from "../../../../layouts/heads.astro";
import Main from "../../../../layouts/main.astro";
import Page from "../../../../layouts/page.astro";
import AddPlayersView from "@/views/match/new/add-players/client";
---

<Page>
  <Heads
    title="Añadir jugadores | Liga de Tenis GT"
    description="Selecciona y añade jugadores para completar la creación de un nuevo partido."
    noIndex
  />

  <body>
    <Main
      showNav={false}
      topbar={{
        title: "Añadir jugadores",
        goBack: true,
      }}
    >
      <AddPlayersView client:load />
    </Main>
  </body>
</Page>
