---
import Heads from "../../layouts/heads.astro";
import Main from "../../layouts/main.astro";
import Page from "../../layouts/page.astro";
import RankingPage from "@/views/ranking/client";

export const prerender = false;
---

<Page>
  <Heads
    title="Ranking | Liga de Tenis GT"
    description="Revisa el ranking actualizado de jugadores y su rendimiento en la Liga de Tenis GT."
  />

  <body>
    <Main
      showNav
      topbar={{
        title: "Ranking",
            goBack: true,
      }}
    >
      <RankingPage client:load />
    </Main>
  </body>
</Page>