---
import Heads from "../../../../layouts/heads.astro";
import Main from "../../../../layouts/main.astro";
import Page from "../../../../layouts/page.astro";
import AddPlayersToMatchView from "./views/add-players-to-match";

export const prerender = false;
---

<Page>
  <Heads>
    <title>Añadir jugadores | Liga de Tenis GT</title>
  </Heads>

  <body>
    <Main
      showNav={false}
      topbar={{
        title: "Añadir jugadores",
        goBack: true,
      }}
    >
      <AddPlayersToMatchView client:load />
    </Main>
  </body>
</Page>
