---
import Navigation from "./components/navigation";
import { type TopbarProps } from "./components/topbar";
import MainProvider from "./components/main";

interface Props {
  topbar?: TopbarProps;
  className?: string;
  showNav?: boolean;
  showFooter?: boolean;
}

const { topbar, className, showNav, showFooter } = Astro.props;
---

<body>
  <MainProvider
    topbar={topbar}
    className={className}
    showNav={showNav}
    showFooter={showFooter}
    client:load
  >
    <slot />
  </MainProvider>
  {showNav && <Navigation client:load />}
</body>
